<?php
$CONFIG = array (
  // Default Parameters
  'passwordsalt' => '<PasswordSalt>',
  'trusted_domains' =>
	  array (
		0 => '127.0.0.1',
		1 => '<server_name>',
	  ),
  'datadirectory' => '/home/owncloud',
  'version' => '<version>',
  'dbtype' => 'mysql',
  'dbhost' => 'localhost',
  'dbname' => 'ownCloud_db',
  'dbuser' => 'MySB_user',
  'dbpassword' => '<db_password>',
  'dbtableprefix' => 'oc_',
  'installed' => true,
  // User Experience
  'default_language' => 'en',
  'defaultapp' => 'files',
  'knowledgebaseenabled' => true,
  'enable_avatars' => true,
  'allow_user_to_change_display_name' => true,
  //'remember_login_cookie_lifetime' => 60*60*24*15,
  //'session_lifetime' => 60 * 60 * 24,
  //'session_keepalive' => true,
  'token_auth_enforced' => false,
  'skeletondirectory' => '',
  'lost_password_link' => 'https://<server_name>:<PORT_HTTPS>/?user/change-password.html',
  // Mail Parameters
  'mail_domain' => '',
  'mail_from_address' => '',
  'mail_smtpdebug' => false,
  'mail_smtpmode' => 'php',
  //'mail_smtphost' => '127.0.0.1',
  //'mail_smtpport' => 25,
  //'mail_smtptimeout' => 10,
  //'mail_smtpsecure' => '',
  //'mail_smtpauth' => false,
  //'mail_smtpauthtype' => 'LOGIN',
  //'mail_smtpname' => '',
  //'mail_smtppassword' => '',
  // Proxy Configurations
  'overwritehost' => '<server_name>:<PORT_HTTPS>',
  'overwriteprotocol' => 'https',
  'overwritewebroot' => '/oc',
  'overwritecondaddr' => '',
  'overwrite.cli.url' => 'https://127.0.0.1:<PORT_HTTPS>/oc',
  'htaccess.RewriteBase' => '/oc',
  //'proxy' => '',
  //'proxyuserpwd' => '',
  'customclient_desktop' => 'https://owncloud.org/install/#install-clients',
  'customclient_android' => 'https://play.google.com/store/apps/details?id=com.owncloud.android',
  'customclient_ios' => 'https://itunes.apple.com/us/app/owncloud/id543672169?mt=8',
  'appstoreenabled' => true,
  'appstoreurl' => 'https://api.owncloud.com/v1',
  'appstore.experimental.enabled' => false,
  // Deleted Items (trash bin)
  'trashbin_retention_obligation' => 'auto, 30',
  // File versions
  'versions_retention_obligation' => 'auto',
  // ownCloud Verifications
  'appcodechecker' => true,
  'updatechecker' => true,
  'updater.server.url' => 'https://updates.owncloud.com/server/',
  'has_internet_connection' => true,
  'check_for_working_webdav' => true,
  'check_for_working_wellknown_setup' => true,
  'check_for_working_htaccess' => true,
  'config_is_read_only' => false,
  // Logging
  'log_type' => 'owncloud',
  'logfile' => '/home/owncloud/owncloud.log',
  'loglevel' => 3,
  //'syslog_tag' => 'ownCloud',
  'logdateformat' => 'F d, Y H:i:s',
  'logtimezone' => '<TimeZone>',
  'log_query' => false,
  'cron_log' => true,
  'log_rotate_size' => false,
  // 'log.condition' => [
        // 'shared_secret' => '57b58edb6637fe3059b3595cf9c41b9',
        // 'users' => ['sample-user'],
        // 'apps' => ['files'],
  // ],
  //'cron.lockfile.location' => '',
  // Previews
  'enable_previews' => true,
  'preview_max_x' => 2048,
  'preview_max_y' => 2048,
  'preview_max_scale_factor' => 10,
  'preview_max_filesize_image' => 50,
  'enabledPreviewProviders' => array(
	'OC\Preview\PNG',
	'OC\Preview\JPEG',
	'OC\Preview\GIF',
	'OC\Preview\BMP',
	'OC\Preview\XBitmap',
	'OC\Preview\MP3',
	'OC\Preview\TXT',
	'OC\Preview\MarkDown'
  ),
  // Maintenance
  'maintenance' => false,
  'singleuser' => false,
  'openssl' => array(
	'config' => '/etc/ssl/openssl.cnf',
  ),
  'enable_certificate_management' => false,
  // Miscellaneous
  # 'blacklisted_files' =>
  # array (
    # 0 => '.htaccess',
    # 1 => '.bash_logout',
    # 2 => '.bashrc',
    # 3 => '.profile',
    # 4 => '.rtorrent.rc',
  # ),
  'quota_include_external_storage' => true,
  'filesystem_check_changes' => 0,
  'mount_file' => '/home/owncloud/mount.json',
  'secret' => '',
  // App config options
  //'tempdirectory' => '/tmp/owncloudtemp',
  'cipher' => 'AES-256-CFB',
  'minimum.supported.desktop.version' => '1.7.0',
  'filesystem_cache_readonly' => false,
  'max_filesize_animated_gifs_public_sharing' => 10,
  'filelocking.enabled' => true,
  'filelocking.ttl' => 3600,
  'debug' => false,
  'hashingCost' => 10,
  'activity_expire_days' => 365,
  'memcache.local' => '\OC\Memcache\APCu',
  'asset-pipeline.enabled' => true,
  'assetdirectory' => '<MySB_InstallDir>/web/oc',
  'upgrade.disable-web' => true,
);