<?php
$CONFIG = array (
  // Default Parameters
  'passwordsalt' => '<PasswordSalt>',
  'trusted_domains' =>
	  array (
		0 => '127.0.0.1',
		1 => '<server_name>',
	  ),
  'datadirectory' => '/home/owncloud',
  'version' => '<version>',
  'dbtype' => 'mysql',
  'dbhost' => 'localhost',
  'dbname' => 'ownCloud_db',
  'dbuser' => 'MySB_user',
  'dbpassword' => '<db_password>',
  'dbtableprefix' => 'oc_',
  'installed' => true,
  // User Experience
  'default_language' => 'en',
  'defaultapp' => 'files',
  'knowledgebaseenabled' => true,
  'enable_avatars' => true,
  'allow_user_to_change_display_name' => true,
  'skeletondirectory' => '',
  'lost_password_link' => 'https://<server_name>:<PORT_HTTPS>/?user/change-password.html',
  // Mail Parameters
  'mail_domain' => '',
  'mail_from_address' => '',
  'mail_smtpdebug' => false,
  'mail_smtpmode' => 'php',
  // Proxy Configurations
  'overwritehost' => '<server_name>:<PORT_HTTPS>',
  'overwriteprotocol' => 'https',
  'overwritewebroot' => '/owncloud',
  'overwritecondaddr' => '',
  'overwrite.cli.url' => 'https://127.0.0.1:<PORT_HTTPS>/owncloud',
  // Deleted Items (trash bin)
  'trashbin_retention_obligation' => 'auto, 30',
  // File versions
  'versions_retention_obligation' => 'auto',
  // ownCloud Verifications
  'updatechecker' => true,
  'check_for_working_webdav' => false,
  'config_is_read_only' => false,
  'check_for_working_wellknown_setup' => true,
  'check_for_working_htaccess' => true,
  // Logging
  'log_type' => 'owncloud',
  'logfile' => '/home/owncloud/owncloud.log',
  'loglevel' => 2,
  'logdateformat' => 'F d, Y H:i:s',
  'logtimezone' => '<TimeZone>',
  'log_query' => false,
  'cron_log' => true,
  'log_rotate_size' => false,
  // Previews
  'enable_previews' => true,
  // Maintenance
  'maintenance' => false,
  'singleuser' => false,
  // SSL
  'forcessl' => true,
  // Miscellaneous
  # 'blacklisted_files' =>
  # array (
    # 0 => '.htaccess',
    # 1 => '.bash_logout',
    # 2 => '.bashrc',
    # 3 => '.profile',
    # 4 => '.rtorrent.rc',
  # ),
  'quota_include_external_storage' => true,
  'filesystem_check_changes' => 0,
  'mount_file' => '/home/owncloud/mount.json',
  'secret' => '',
  // App config options
  'activity_expire_days' => 365,
  'memcache.local' => '\OC\Memcache\APCu',
  'asset-pipeline.enabled' => true,
  'assetdirectory' => '<MySB_InstallDir>/web/owncloud',
  'upgrade.disable-web' => true,
);