[global]
	workgroup = MySB
	server string = MySB Samba Server
	netbios name = MySB
	wins support = no
	domain master = no
	prefered master = no
	dns proxy = no
	hosts allow = 127.0.0.1 10.0.0.0/24 10.0.1.0/24 10.0.2.0/24
	#interfaces = 127.0.0.0/8 10.0.0.0/24 10.0.1.0/24 10.0.2.0/24
	bind interfaces only = yes
	hostname lookups = no
	log file = /var/log/samba/log.%m
	max log size = 1000
	syslog = 0
	panic action = /usr/share/samba/panic-action %d
	encrypt passwords = true
	passdb backend = tdbsam
	obey pam restrictions = yes
	unix password sync = yes
	passwd program = /usr/bin/passwd %u
	passwd chat = *Enter\snew\s*\spassword:* %n\n *Retype\snew\s*\spassword:* %n\n *password\supdated\ssuccessfully* .
	pam password change = yes
	map to guest = bad user
	usershare allow guests = yes
	load printers = no
	printing = bsd
	printcap name = /dev/null
	disable spoolss = yes
	security = user
[homes]
	path = %H/rtorrent
	comment = %U rTorrent Directory
	available = yes
	browseable = no
	read only = no
	directory mask = 0440
	create mask = 0777
	valid users = %S
