[IFTTT]
ifttt_on_stop = 0
ifttt_on_pause = 0
ifttt_key = ""
ifttt_on_concurrent = 0
ifttt_on_created = 0
ifttt_on_buffer = 0
ifttt_enabled = 0
ifttt_on_pmsupdate = 0
ifttt_on_newdevice = 0
ifttt_on_intdown = 0
ifttt_on_extup = 0
ifttt_on_intup = 0
ifttt_on_resume = 0
ifttt_on_watched = 0
ifttt_event = plexpy
ifttt_on_extdown = 0
ifttt_on_play = 0
[Growl]
growl_enabled = 0
growl_on_play = 0
growl_on_stop = 0
growl_on_buffer = 0
growl_on_pause = 0
growl_on_intdown = 0
growl_host = ""
growl_on_extup = 0
growl_on_newdevice = 0
growl_on_pmsupdate = 0
growl_password = ""
growl_on_resume = 0
growl_on_created = 0
growl_on_concurrent = 0
growl_on_watched = 0
growl_on_intup = 0
growl_on_extdown = 0
[PMS]
pms_use_bif = 0
pms_uuid = ""
pms_url = http://127.0.0.1:32400
pms_update_channel = public
pms_update_distro = ""
pms_name = ""
pms_logs_folder = ""
pms_plexpass = 0
pms_token = ""
pms_port = 32400
pms_is_remote = 0
pms_identifier = ""
pms_ssl = 1
pms_version = ""
pms_update_distro_build = ""
pms_ip = 127.0.0.1
pms_logs_line_cap = 1000
pms_platform = ""
[Monitoring]
notify_upload_posters = 0
movie_notify_enable = 1
notify_on_resume_body_text = {user} ({player}) has resumed {title}.
notify_on_pmsupdate_body_text = An update is available for the Plex Media Server (version {update_version}).
refresh_libraries_on_startup = 1
session_db_write_attempts = 5
notify_on_created_body_text = {title} was recently added to Plex.
buffer_wait = 900
notify_on_intup_subject_text = PlexPy ({server_name})
notify_recently_added_grandparent = 0
notify_on_newdevice_subject_text = PlexPy ({server_name})
notify_on_extup_subject_text = PlexPy ({server_name})
notify_on_watched_subject_text = PlexPy ({server_name})
notify_on_pause_subject_text = PlexPy ({server_name})
notify_on_extup_body_text = The Plex Media Server remote access is back up.
notify_on_watched_body_text = {user} ({player}) has watched {title}.
music_notify_on_pause = 0
notify_on_start_body_text = {user} ({player}) started playing {title}.
notify_on_pause_body_text = {user} ({player}) has paused {title}.
notify_on_buffer_body_text = {user} ({player}) is buffering {title}.
music_notify_on_stop = 0
tv_notify_on_stop = 0
notify_on_stop_body_text = {user} ({player}) has stopped {title}.
notify_on_created_subject_text = PlexPy ({server_name})
notify_on_extdown_body_text = The Plex Media Server remote access is down.
notify_scripts_args_text = ""
music_logging_enable = 1
movie_notify_on_stop = 0
notify_watched_percent = 85
notify_on_concurrent_subject_text = PlexPy ({server_name})
notify_on_concurrent_body_text = {user} has {user_streams} concurrent streams.
tv_logging_enable = 1
tv_notify_enable = 0
notify_recently_added_delay = 60
notify_on_intdown_body_text = The Plex Media Server is down.
logging_ignore_interval = 120
notify_on_newdevice_body_text = {user} is streaming from a new device: {player}.
refresh_users_interval = 12
monitoring_use_websocket = 0
monitor_pms_updates = 0
notify_on_start_subject_text = PlexPy ({server_name})
notify_recently_added = 0
notify_on_pmsupdate_subject_text = PlexPy ({server_name})
music_notify_enable = 0
movie_notify_on_start = 1
notify_concurrent_by_ip = 0
refresh_users_on_startup = 1
buffer_threshold = 3
notify_on_extdown_subject_text = PlexPy ({server_name})
refresh_libraries_interval = 12
tv_notify_on_start = 1
video_logging_enable = 1
notify_on_resume_subject_text = PlexPy ({server_name})
notify_concurrent_threshold = 2
notify_on_stop_subject_text = PlexPy ({server_name})
movie_notify_on_pause = 0
notify_consecutive = 1
movie_logging_enable = 1
notify_on_intup_body_text = The Plex Media Server is back up.
notify_on_intdown_subject_text = PlexPy ({server_name})
music_notify_on_start = 1
tv_notify_on_pause = 0
monitor_remote_access = 0
imgur_client_id = ""
monitoring_interval = 60
notify_on_buffer_subject_text = PlexPy ({server_name})
[General]
week_start_monday = 1
git_token = ""
home_stats_cards = top_movies, popular_movies, top_tv, popular_tv, top_music, popular_music, last_watched, top_users, top_platforms, most_concurrent
backup_interval = 6
graph_days = 30
graph_type = plays
get_file_sizes = 0
http_basic_auth = 1
api_sql = 0
http_root = /pp
http_proxy = 1
freeze_db = 0
ip_logging_enable = 0
launch_browser = 1
http_username = ""
https_create_cert = 0
do_not_override_git_branch = 0
home_stats_length = 30
http_host = 0.0.0.0
first_run_complete = 0
enable_https = 1
check_github = 0
api_enabled = 0
git_path = ""
update_labels = 1
config_version = 7
check_github_interval = 360
https_ip = 127.0.0.1
group_history_tables = 1
https_domain = localhost
graph_tab = tabs-1
geoip_db = ""
http_password = ""
home_stats_count = 5
backup_dir = <gsRepoDir>/backups
git_user = JonnyWong16
interface = default
cache_images = 1
log_blacklist = 1
graph_months = 12
cleanup_files = 0
check_github_on_startup = 1
http_port = 8181
log_dir = <gsRepoDir>/logs
update_db_interval = 24
allow_guest_access = 0
time_format = HH:mm
cache_dir = <gsRepoDir>/cache
home_sections = current_activity, watch_stats, library_stats, recently_added
backup_days = 3
https_cert = <https_cert>
api_key = ""
update_section_ids = 0
date_format = YYYY-MM-DD
home_stats_type = 0
http_environment = production
history_table_activity = 1
https_key = <https_key>
http_hash_password = 0
home_library_cards = first_run,
http_hashed_password = 0
git_branch = master
anon_redirect = http://dereferer.org/?
[[get_file_sizes_hold]]
section_ids = ,
rating_keys = ,
[Slack]
slack_on_stop = 0
slack_icon_emoji = ""
slack_on_watched = 0
slack_on_extup = 0
slack_on_resume = 0
slack_hook = ""
slack_incl_subject = 1
slack_on_pmsupdate = 0
slack_channel = ""
slack_on_buffer = 0
slack_on_extdown = 0
slack_username = ""
slack_incl_pmslink = 0
slack_enabled = 0
slack_incl_poster = 0
slack_on_pause = 0
slack_on_concurrent = 0
slack_on_intup = 0
slack_on_intdown = 0
slack_on_play = 0
slack_on_created = 0
slack_on_newdevice = 0
[Boxcar]
boxcar_sound = ""
boxcar_on_newdevice = 0
boxcar_on_watched = 0
boxcar_on_buffer = 0
boxcar_on_stop = 0
boxcar_on_extdown = 0
boxcar_on_pmsupdate = 0
boxcar_on_intdown = 0
boxcar_on_pause = 0
boxcar_on_play = 0
boxcar_on_created = 0
boxcar_on_intup = 0
boxcar_on_resume = 0
boxcar_on_concurrent = 0
boxcar_enabled = 0
boxcar_on_extup = 0
boxcar_token = ""
[PushBullet]
pushbullet_on_play = 0
pushbullet_channel_tag = ""
pushbullet_on_buffer = 0
pushbullet_apikey = ""
pushbullet_on_resume = 0
pushbullet_on_concurrent = 0
pushbullet_on_created = 0
pushbullet_on_pause = 0
pushbullet_on_extdown = 0
pushbullet_on_stop = 0
pushbullet_on_extup = 0
pushbullet_on_pmsupdate = 0
pushbullet_enabled = 0
pushbullet_on_watched = 0
pushbullet_on_intdown = 0
pushbullet_deviceid = ""
pushbullet_on_intup = 0
pushbullet_on_newdevice = 0
[Scripts]
scripts_on_newdevice = 0
scripts_on_stop = 0
scripts_on_intdown_script = ""
scripts_on_newdevice_script = ""
scripts_folder = ""
scripts_on_pmsupdate = 0
scripts_on_buffer = 0
scripts_on_concurrent = 0
scripts_on_intup_script = ""
scripts_on_intdown = 0
scripts_on_resume = 0
scripts_on_extdown_script = ""
scripts_on_extup = 0
scripts_on_play_script = ""
scripts_on_created_script = ""
scripts_on_pmsupdate_script = ""
scripts_on_resume_script = ""
scripts_on_stop_script = ""
scripts_on_watched_script = ""
scripts_enabled = 0
scripts_on_extup_script = ""
scripts_on_extdown = 0
scripts_on_created = 0
scripts_on_concurrent_script = ""
scripts_on_pause_script = ""
scripts_on_pause = 0
scripts_on_intup = 0
scripts_timeout = 30
scripts_on_watched = 0
scripts_on_buffer_script = ""
scripts_on_play = 0
[NMA]
nma_on_pmsupdate = 0
nma_priority = 0
nma_on_intdown = 0
nma_on_buffer = 0
nma_on_play = 0
nma_on_newdevice = 0
nma_on_resume = 0
nma_on_concurrent = 0
nma_on_watched = 0
nma_apikey = ""
nma_on_intup = 0
nma_on_stop = 0
nma_on_created = 0
nma_on_pause = 0
nma_enabled = 0
nma_on_extdown = 0
nma_on_extup = 0
[Hipchat]
hipchat_emoticon = ""
hipchat_incl_subject = 1
hipchat_on_extdown = 0
hipchat_on_intup = 0
hipchat_enabled = 0
hipchat_on_created = 0
hipchat_on_newdevice = 0
hipchat_on_play = 0
hipchat_on_resume = 0
hipchat_on_buffer = 0
hipchat_incl_poster = 0
hipchat_on_watched = 0
hipchat_color = ""
hipchat_on_concurrent = 0
hipchat_url = ""
hipchat_on_pmsupdate = 0
hipchat_on_extup = 0
hipchat_incl_pmslink = 0
hipchat_on_pause = 0
hipchat_on_intdown = 0
hipchat_on_stop = 0
[Pushalot]
pushalot_apikey = ""
pushalot_on_pmsupdate = 0
pushalot_enabled = 0
pushalot_on_extdown = 0
pushalot_on_created = 0
pushalot_on_pause = 0
pushalot_on_stop = 0
pushalot_on_buffer = 0
pushalot_on_intup = 0
pushalot_on_newdevice = 0
pushalot_on_concurrent = 0
pushalot_on_watched = 0
pushalot_on_play = 0
pushalot_on_extup = 0
pushalot_on_intdown = 0
pushalot_on_resume = 0
[Prowl]
prowl_on_created = 0
prowl_on_play = 0
prowl_on_extdown = 0
prowl_on_pause = 0
prowl_on_intdown = 0
prowl_on_intup = 0
prowl_enabled = 0
prowl_priority = 0
prowl_on_pmsupdate = 0
prowl_on_newdevice = 0
prowl_on_extup = 0
prowl_on_watched = 0
prowl_on_buffer = 0
prowl_on_resume = 0
prowl_on_stop = 0
prowl_on_concurrent = 0
prowl_keys = ""
[Advanced]
verify_ssl_cert = 1
journal_mode = wal
pms_timeout = 15
cache_sizemb = 32
[Facebook]
facebook_app_secret = ""
facebook_on_stop = 0
facebook_token = ""
facebook_on_buffer = 0
facebook_on_play = 0
facebook_enabled = 0
facebook_on_intup = 0
facebook_incl_poster = 0
facebook_on_pmsupdate = 0
facebook_on_intdown = 0
facebook_on_extup = 0
facebook_on_resume = 0
facebook_on_concurrent = 0
facebook_on_extdown = 0
facebook_group = ""
facebook_on_pause = 0
facebook_app_id = ""
facebook_incl_pmslink = 0
facebook_on_newdevice = 0
facebook_on_watched = 0
facebook_redirect_uri = ""
facebook_incl_subject = 1
facebook_on_created = 0
[Email]
email_from_name = PlexPy
email_bcc = ""
email_on_pause = 0
email_smtp_password = ""
email_tls = 0
email_smtp_port = 25
email_on_watched = 0
email_smtp_server = ""
email_on_intdown = 0
email_on_concurrent = 0
email_on_intup = 0
email_enabled = 0
email_on_buffer = 0
email_on_resume = 0
email_smtp_user = ""
email_cc = ""
email_on_newdevice = 0
email_on_stop = 0
email_on_extdown = 0
email_html_support = 1
email_on_extup = 0
email_on_created = 0
email_on_pmsupdate = 0
email_to = ""
email_from = ""
email_on_play = 0
[OSX_Notify]
osx_notify_on_intdown = 0
osx_notify_on_buffer = 0
osx_notify_app = /Applications/PlexPy
osx_notify_on_created = 0
osx_notify_on_pmsupdate = 0
osx_notify_on_stop = 0
osx_notify_enabled = 0
osx_notify_on_intup = 0
osx_notify_on_watched = 0
osx_notify_on_pause = 0
osx_notify_on_concurrent = 0
osx_notify_on_newdevice = 0
osx_notify_on_play = 0
osx_notify_on_extdown = 0
osx_notify_on_extup = 0
osx_notify_on_resume = 0
[PlexWatch]
grouping_user_history = 0
plexwatch_database = ""
grouping_global_history = 0
grouping_charts = 0
[Pushover]
pushover_enabled = 0
pushover_on_extup = 0
pushover_on_intup = 0
pushover_on_buffer = 0
pushover_html_support = 1
pushover_keys = ""
pushover_incl_url = 1
pushover_on_pause = 0
pushover_on_play = 0
pushover_on_stop = 0
pushover_apitoken = ""
pushover_incl_pmslink = 0
pushover_on_pmsupdate = 0
pushover_on_extdown = 0
pushover_priority = 0
pushover_on_intdown = 0
pushover_on_newdevice = 0
pushover_sound = ""
pushover_on_created = 0
pushover_on_resume = 0
pushover_on_concurrent = 0
pushover_on_watched = 0
[Telegram]
telegram_on_buffer = 0
telegram_bot_token = ""
telegram_incl_poster = 0
telegram_on_resume = 0
telegram_on_pmsupdate = 0
telegram_html_support = 1
telegram_on_created = 0
telegram_incl_subject = 1
telegram_disable_web_preview = 0
telegram_enabled = 0
telegram_on_concurrent = 0
telegram_on_intdown = 0
telegram_on_extdown = 0
telegram_on_pause = 0
telegram_on_newdevice = 0
telegram_on_watched = 0
telegram_on_stop = 0
telegram_on_play = 0
telegram_on_extup = 0
telegram_chat_id = ""
telegram_on_intup = 0
[Twitter]
twitter_on_resume = 0
twitter_on_pmsupdate = 0
twitter_on_buffer = 0
twitter_on_concurrent = 0
twitter_enabled = 0
twitter_on_watched = 0
twitter_consumer_secret = ""
twitter_on_extup = 0
twitter_on_intdown = 0
twitter_on_intup = 0
twitter_access_token_secret = ""
twitter_on_newdevice = 0
twitter_on_stop = 0
twitter_consumer_key = ""
twitter_access_token = ""
twitter_incl_subject = 1
twitter_on_extdown = 0
twitter_on_pause = 0
twitter_on_play = 0
twitter_incl_poster = 0
twitter_on_created = 0
[Plex]
plex_on_created = 0
plex_on_concurrent = 0
plex_client_host = ""
plex_on_stop = 0
plex_on_resume = 0
plex_on_watched = 0
plex_on_play = 0
plex_on_extdown = 0
plex_on_intdown = 0
plex_on_newdevice = 0
plex_enabled = 0
plex_on_buffer = 0
plex_on_intup = 0
plex_on_pmsupdate = 0
plex_username = ""
plex_on_pause = 0
plex_password = ""
plex_on_extup = 0
[Join]
join_on_concurrent = 0
join_on_newdevice = 0
join_deviceid = ""
join_on_play = 0
join_on_watched = 0
join_on_resume = 0
join_on_created = 0
join_on_extdown = 0
join_on_intup = 0
join_on_buffer = 0
join_incl_subject = 1
join_enabled = 0
join_on_pause = 0
join_apikey = ""
join_on_pmsupdate = 0
join_on_intdown = 0
join_on_extup = 0
join_on_stop = 0
[XBMC]
xbmc_password = ""
xbmc_on_play = 0
xbmc_on_pause = 0
xbmc_username = ""
xbmc_on_extup = 0
xbmc_on_watched = 0
xbmc_on_buffer = 0
xbmc_enabled = 0
xbmc_host = ""
xbmc_on_created = 0
xbmc_on_intup = 0
xbmc_on_extdown = 0
xbmc_on_pmsupdate = 0
xbmc_on_stop = 0
xbmc_on_newdevice = 0
xbmc_on_resume = 0
xbmc_on_intdown = 0
xbmc_on_concurrent = 0
[Browser]
browser_on_intdown = 0
browser_on_newdevice = 0
browser_on_pmsupdate = 0
browser_on_intup = 0
browser_on_buffer = 0
browser_auto_hide_delay = 5
browser_on_created = 0
browser_on_pause = 0
browser_on_stop = 0
browser_on_play = 0
browser_on_watched = 0
browser_on_extdown = 0
browser_on_extup = 0
browser_on_resume = 0
browser_on_concurrent = 0
browser_enabled = 0
