.etc/
.idea/
.root/
.vscode/
.DS_Store
thumbs.db
confs/
files/banner_*
files/blocklists/
files/current-iptables-rules
files/fastest_mirrors
files/fstab.origine
files/locale
files/nextcloud_config.php
logs/
!logs/files/dnscrypt-resolvers/logs/
sources/
ssl/
statistics
temp/
tools/
web/apps/
web/config.php
web/wolf/
