#include "start_rtorrent.h"

void start_rtorrent (char nickname[])
{
    //Déclarations
    char chaine [100] = {0};

    snprintf(chaine, 100, "su --command='/etc/init.d/rtorrent-%s start'\n", nickname);
    printf("%s", chaine);
    system (chaine);
}
