.ccze_date {
	color: cyan
}

.ccze_host {
	color: slateblue
}

.ccze_process {
	color: #00C000
}

.ccze_pid {
	color: white
}

.ccze_pid-sqbr {
	color: lime
}

.ccze_default {
	color: darkcyan
}

.ccze_email {
	color: lime
}

.ccze_subject {
	color: darkmagenta
}

.ccze_dir {
	color: cyan
}

.ccze_file {
	color: cyan
}

.ccze_size {
	color: white
}

.ccze_user {
	color: yellow
}

.ccze_httpcodes {
	color: white
}

.ccze_getsize {
	color: darkmagenta
}

.ccze_get {
	color: #00C000
}

.ccze_post {
	color: lime
}

.ccze_head {
	color: #00C000
}

.ccze_put {
	color: lime
}

.ccze_connect {
	color: #00C000
}

.ccze_trace {
	color: #00C000
}

.ccze_unknown {
	color: darkcyan
}

.ccze_gettime {
	color: magenta
}

.ccze_uri {
	color: lime
}

.ccze_ident {
	color: white
}

.ccze_ctype {
	color: grey
}

.ccze_error {
	color: red
}

.ccze_miss {
	color: darkred
}

.ccze_hit {
	color: yellow
}

.ccze_deny {
	color: red
}

.ccze_refresh {
	color: white
}

.ccze_swapfail {
	color: white
}

.ccze_debug {
	color: grey
}

.ccze_warning {
	color: darkred
}

.ccze_direct {
	color: white
}

.ccze_parent {
	color: yellow
}

.ccze_swapnum {
	color: blue
	text-background: grey
}

.ccze_create {
	color: white
}

.ccze_swapin {
	color: white
}

.ccze_swapout {
	color: white
}

.ccze_release {
	color: white
}

.ccze_mac {
	color: white
}

.ccze_version {
	color: white
}

.ccze_address {
	color: white
}

.ccze_numbers {
	color: grey
}

.ccze_signal {
	color: yellow
}

.ccze_service {
	color: magenta
}

.ccze_prot {
	color: darkmagenta
}

.ccze_bad {
	color: yellow
}

.ccze_good {
	color: lime
}

.ccze_system {
	color: cyan
}

.ccze_incoming {
	color: white
}

.ccze_outgoing {
	color: grey
}

.ccze_uniqn {
	color: white
}

.ccze_repeat {
	color: grey
}

.ccze_field {
	color: #00C000
}

.ccze_chain {
	color: darkcyan
}

.ccze_percentage {
	color: yellow
}

.ccze_ftpcodes {
	color: darkcyan
}

.ccze_keyword {
	color: yellow
}

.ccze_pkgstatus {
	color: #00C000
}

.ccze_pkg {
	color: red
}

.ccze_black {
	color: black
}

.ccze_red {
	color: darkred
}

.ccze_green {
	color: #00C000
}

.ccze_yellow {
	color: brown
}

.ccze_blue {
	color: blue
}

.ccze_cyan {
	color: darkcyan
}

.ccze_magenta {
	color: darkmagenta
}

.ccze_white {
	color: grey
}

.ccze_bold_black {
	color: black
}

.ccze_bold_red {
	color: red
}

.ccze_bold_green {
	color: lime
}

.ccze_bold_yellow {
	color: yellow
}

.ccze_bold_blue {
	color: slateblue
}

.ccze_bold_cyan {
	color: cyan
}

.ccze_bold_magenta {
	color: magenta
}

.ccze_bold_white {
	color: white
}