/* CSS Document */
/* top right bottom left */

ul#nav a.ApplyConfigButtonNothing { 
	height: 24px;
	color:#404040;
	pointer-events: none;
}
ul#nav a.ApplyConfigButtonNothing:hover { 
	color:#404040;
}
ul#nav a.ApplyConfigButtonDO { 
	height: 24px;
	padding-top: 6px;
	border: 1px solid #09D4FF;
	color:#09D4FF;
	pointer-events: auto;
}
ul#nav a.ApplyConfigButtonDO:hover { 
	background-color: #EAEBED;
	color: #362C20;
}

.text_small{ 
	width: 60px;
	text-align:right;
}

.text_extra_small{ 
	width: 30px;
	text-align:right;
}
.text_normal{ 
	width: 200px; 
}

select.redText {
	background-color:#FEBABC;
}
select.greenText {
	background-color:#B3FEA5;
}

fieldset, input[type="text"], textarea, select, option, fieldset ul, fieldset > legend, fieldset input[type="text"], fieldset > legend:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="text"]:hover, textarea:hover, select:hover, input:hover[type="button"]{
    background-color: #DEE2E3;
	cursor: pointer;
}
input:hover[type="submit"]{
    background-color: #666E71;
	cursor: pointer;
}
fieldset {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    overflow: visible;
	/* top right bottom left */
    padding: 0 10px 0 10px;
    margin: 0;
}
fieldset > legend {
	/* top right bottom left */
    display: block;
    margin: 0;
    padding: 0 5px 0 5px;
    line-height: 30px;
    font-style: italic;
}