#!/bin/bash
# rev 0.5
# ----------------------------------
#  __/\\\\____________/\\\\___________________/\\\\\\\\\\\____/\\\\\\\\\\\\\___
#   _\/\\\\\\________/\\\\\\_________________/\\\/////////\\\_\/\\\/////////\\\_
#	_\/\\\//\\\____/\\\//\\\____/\\\__/\\\__\//\\\______\///__\/\\\_______\/\\\_
#	 _\/\\\\///\\\/\\\/_\/\\\___\//\\\/\\\____\////\\\_________\/\\\\\\\\\\\\\\__
#	  _\/\\\__\///\\\/___\/\\\____\//\\\\\________\////\\\______\/\\\/////////\\\_
#	   _\/\\\____\///_____\/\\\_____\//\\\____________\////\\\___\/\\\_______\/\\\_
#		_\/\\\_____________\/\\\__/\\_/\\\______/\\\______\//\\\__\/\\\_______\/\\\_
#		 _\/\\\_____________\/\\\_\//\\\\/______\///\\\\\\\\\\\/___\/\\\\\\\\\\\\\/__
#		  _\///______________\///___\////__________\///////////_____\/////////////_____
#			By toulousain79 ---> https://github.com/toulousain79/
#
######################################################################
#
#	Copyright (c) 2013 toulousain79 (https://github.com/toulousain79/)
#	Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
#	The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
#	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
#	IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#	--> Licensed under the MIT license: http://www.opensource.org/licenses/mit-license.php
#
##################### FIRST LINE #####################################

case "${1}" in
    'quota')
        source "<InstallDir>/inc/vars"
        source "<InstallDir>/inc/funcs_by_script/funcs_MySB_CreateUser"

        # ruTorrent Plugin Spacedisk quotas included
        gfnPluginDiskspaceQuotaIncluded "<user>"

        # NextCloud force next scan
        bash ${MySB_InstallDir}/scripts/NextCloud.bsh scan "<user>" CRON >/dev/null  2>&1
        ;;
    'erase')
        if [ -n "${2}" ] && [ -n "${3}" ]; then
            xmlrpc2scgi.py -p scgi://localhost:${2} d.erase ${3} 2>>"${sLogFile}"

            # NextCloud force next scan
            bash ${MySB_InstallDir}/scripts/NextCloud.bsh scan "<user>" CRON >/dev/null  2>&1
        fi
        ;;
    'status')
        if (! /usr/sbin/service rtorrent-"<user>" status >/dev/null) || (/usr/sbin/service rtorrent-"<user>" status | grep -q '(exited)'); then
            /usr/sbin/service rtorrent-"<user>" stop
            /usr/sbin/service rtorrent-"<user>" start
        fi
        ;;
    'restart')
        /usr/sbin/service rtorrent-"<user>" stop
        /usr/sbin/service rtorrent-"<user>" start
        ;;
esac

##################### LAST LINE ######################################
