{
    padding: 0;
    margin: 0;
    border: 0;
}
body, html {
    color: #373C40;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #f0f0f0;
    margin:10px;
}
body {
    font-size: 70%;
}
p {
	/* top right bottom left */
    padding: 0 0 0 0;
    font-weight: 500;
    font-size: 10pt;
}
a {
    color: #656565;
    text-decoration:none;
}
a:hover{
    color: #4C99CC;
    text-decoration: none;
}
h1 {
    font-weight:200;
    color: #888888;
    font-size:16pt;
    padding-left:0px;
    margin:8px ;
	text-align: center;
}
.clear{
	width:100%;
	float:none;
	clear:both;
}
.form td{
	border-right:1px solid #F1F1F1;
	border-top:1px solid #F1F1F1;
	border-bottom:1px solid #F1F1F1;
	border-left:1px solid #F1F1F1;
	padding:2px;
	margin:0;
	text-align: center;
}
.form td{
	border-right:1px solid #F1F1F1;
	border-top:1px solid #F1F1F1;
	border-bottom:1px solid #F1F1F1;
	border-left:1px solid #F1F1F1;
	padding:2px;
	margin:0;
	text-align: center;
}
.register .form label{
    float: center;
    text-align: left;
    margin-top:2px;
}
.register legend{
    color: #4C99CC;
    padding:2px;
    margin-left: 0px;
    font-weight:bold;
    font-size: 14px;
    font-weight:100;
}
form.register input[type=button]:hover{
	background:#ccc;
}
form.register  .submit{
    color: #fff;
    cursor: pointer;
    float:center;
    margin:10px;
	padding:5px;
	background: #4C99CC;
	background-image: linear-gradient(bottom,rgba(0, 0, 0, 0.1) 0,rgba(255, 255, 255, 0.1) 100%);
	background-image: -o-linear-gradient(bottom,rgba(0, 0, 0, 0.1) 0,rgba(255, 255, 255, 0.1) 100%);
	background-image: -moz-linear-gradient(bottom,rgba(0, 0, 0, 0.1) 0,rgba(255, 255, 255, 0.1) 100%);
	background-image: -webkit-linear-gradient(bottom,rgba(0, 0, 0, 0.1) 0,rgba(255, 255, 255, 0.1) 100%);
	background-image: -ms-linear-gradient(bottom,rgba(0, 0, 0, 0.1) 0,rgba(255, 255, 255, 0.1) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,rgba(0, 0, 0, 0.1)),color-stop(1,rgba(255, 255, 255, 0.1)));

}
form.register  .submit:hover{
	background:#505050;
}
form.register  .submit:active{
	background:#ccc;
	color: #000;
}
form.register{
    width:1000px;
    margin: auto auto auto auto;
    background-color:#fff;
    padding:5px;
}
.delete{
    width:50px;
    border: 1px solid #E1E1E1;
    height: 18px;
	color: #505050;
	cursor:pointer;
}
.domain{
    border: 1px solid #E1E1E1;
    height: 18px;
	color: #505050;
    width:150px;
	height: 18px;	
}
.address{
    border: 1px solid #E1E1E1;
    height: 18px;
	color: #505050;
	width:200px;
	cursor: Default;
}
.origin{
    border: 1px solid #E1E1E1;
    height: 18px;
	color: #505050;
	width:60px;
	cursor: Default;
}
.ipv4{
    border: 1px solid #E1E1E1;
    height: 18px;
	color: #505050;
	width:120px;	
}
form.register select.ipv4{
	background-color: #f0f0f0;
	cursor: Default;
}
.ssl{
    border: 1px solid #E1E1E1;
	color: #505050;
	width:120px;
    width:50px;
	height: 18px;
	cursor: Default;
}
.active{
    border: 1px solid #E1E1E1;
	color: #505050;
	width:120px;
    width:50px;
	height: 18px;
	cursor:pointer;
}

form.register input[type=text]:-moz-read-only { /* For Firefox */
    background-color: #f0f0f0;
}

form.register input[type=text]:read-only { 
    background-color: #f0f0f0;
}

input:focus, select:focus{
    background-color: #F1F1F1;
}