#!/bin/sh -e
# rev 6.0
#
# rc.local
#
# This script is executed at the end of each multiuser runlevel.
# Make sure that the script will "exit 0" on success or any other
# value on error.
#
# In order to enable or disable this script just change the execution
# bits.
#
# By default this script does nothing.

MySB_Version="<MySB_Version>"
MemoryTotal="$(free -g -h --si | grep 'Mem' | awk '{ print $2 }')o"
SwapTotal="$(free -g -h --si | grep 'Swap' | awk '{ print $2 }')o"
Processors="$(cat /proc/cpuinfo | grep 'processor' | wc -l)"
case $(getconf LONG_BIT) in
    64) Arch="amd64" ;;
    *) Arch="i386" ;;
esac

true >/etc/motd
figlet MySB $MySB_Version >>/etc/motd
echo "OS Version	: Debian $(cat /etc/debian_version) ($Arch)" >>/etc/motd
echo "Processors	: $Processors" >>/etc/motd
echo "Memory		: $MemoryTotal" >>/etc/motd
echo "Swap		: $SwapTotal" >>/etc/motd
if [ -f /root/.mdg ]; then
    echo "Server	 : $(cat /root/.mdg 2>/dev/null)" >>/etc/motd
fi
echo "Hostname        : $(hostname)" >>/etc/motd
#
# search interfaces that are connected
#
echo >>/etc/motd
sed -i "s/'/ /g;s/,/ /g;s/\`/ /g;" /etc/motd >/dev/null 2>&1

for net_interface in $(ip link show | grep eth | grep UP | awk '{print $2}' | sed 's/://g'); do
    sLine=""
    # IPv4
    IPV4="$(ip addr show ${net_interface} | grep 'inet ' | grep -Eo '\<[[:digit:]]{1,3}(\.[[:digit:]]{1,3}){3}\>' | head -1)"
    [ -n "${IPV4}" ] && sLine="${net_interface} : ${IPV4}"
    # IPv6
    for IPV6 in $(ip -6 addr show ${net_interface} | grep 'inet6' | awk '{print $2}'); do
        if [ -n "${IPV6}" ]; then
            if (echo "${IPV6}" | grep -q '^fe80.'); then
                sLine="${sLine}	| ${IPV6}"
            fi
        fi
    done
    echo "${sLine}" >>/etc/motd
done
echo >>/etc/motd

# Disable TSO & GSO for all interfaces
if (type ethtool >/dev/null); then
    for inet in $(echo "$(ip link show)" | grep -E '^([1-9]]?)\:\ ([a-z]?)' | awk '{ print $2 }' | sed 's/://g;'); do
        case "${inet}" in
            'lo' | tun* | tap*) continue ;;
            *)
                ethtool -K "${inet}" tso off
                ethtool -K "${inet}" gso off
                ;;
        esac
    done
fi

# KSM
[ -f "/sys/kernel/mm/ksm/run" ] && echo 1 >/sys/kernel/mm/ksm/run
[ -f "/sys/kernel/mm/ksm/sleep_millisecs" ] && echo 1000 >/sys/kernel/mm/ksm/sleep_millisecs

exit 0
