; Sample stunnel configuration file for Unix by Michal Trojnara 2002-2015
; Some options used here may be inadequate for your particular configuration
; This sample file does *not* represent stunnel.conf defaults
; Please consult the manual for detailed description of available options

; **************************************************************************
; * Global options                                                         *
; **************************************************************************

; It is recommended to drop root privileges if stunnel is started by root
setuid = stunnel4
setgid = stunnel4

; PID file is created inside the chroot jail (if enabled)
pid = /run/stunnel4/stunnel.pid

; Debugging stuff (may be useful for troubleshooting)
foreground = no
debug = info
output = /var/log/stunnel4/stunnel.log

; Enable FIPS 140-2 mode if needed for compliance
;fips = yes

; **************************************************************************
; * Service defaults may also be specified in individual service sections  *
; **************************************************************************

; Protocol version (all, SSLv2, SSLv3, TLSv1)
sslVersion = TLSv1
;options = NO_SSLv2
;options = NO_SSLv3

; These options provide additional security at some performance degradation
;options = SINGLE_ECDH_USE
;options = SINGLE_DH_USE

; Workaround for Eudora bug
;options = DONT_INSERT_EMPTY_FRAGMENTS

; Some performance tunings
socket = l:TCP_NODELAY=1
socket = r:TCP_NODELAY=1
socket = a:SO_BINDTODEVICE=lo
socket = l:SO_LINGER=1:30
;compression = zlib
;compression = deflate

; **************************************************************************
; * Include all configuration file fragments from the specified folder     *
; **************************************************************************

;include = /etc/stunnel/conf.d

; **************************************************************************
; * Service definitions (remove all services for inetd mode)               *
; **************************************************************************

; ***************************************** Example TLS client mode services

; The following examples use /etc/ssl/certs, which is the common location
; of a hashed directory containing trusted CA certificates.  This is not
; a hardcoded path of the stunnel package, as it is not related to the
; stunnel configuration in /etc/stunnel/.

client = yes
connect = <smtp_host>:<smtp_port>
verifyChain = no
CAfile = <InstallDir>/ssl/CA/certs/cacert.pem
checkHost = <smtp_host>
OCSPaia = yes

cert = <InstallDir>/ssl/mysb.cert
key = <InstallDir>/ssl/mysb.key

[ssmtp]
accept = 23000
connect = <smtp_host>:<smtp_port>
