<?php

/*
  General configuration of Cakebox
*/
$app["cakebox.root"] = "/home/<server_name>/rtorrent/"; // Root directory Cakebox have to scan
$app["cakebox.access"] = "/<server_name>/"; // Alias used in web server for direct access
$app["cakebox.language"] = "<lang>"; //Language of Cakebox. Could be : fr, en

/*
  Directory settings
*/
$app["directory.ignoreDotFiles"] = true;
$app["directory.ignore"] = "/watch|torrents|incomplete/"; // Regex for files exclusion. For exemple : "/(\.nfo|\.test)$/"

/*
  Web player settings
*/
$app["player.default_type"] = "html5"; // html5 or vlc
$app["player.auto_play"] = "false";

/*
  User rights
*/
$app["rights.canPlayMedia"] = true;
$app["rights.canDownloadFile"] = true;
$app["rights.canArchiveDirectory"] = false;
$app["rights.canDelete"] = false;

/*
  Betaseries account
  NB: Ask API key here http://www.betaseries.com/api/
*/
$app["bs.login"] = "";
$app["bs.passwd"] = "";
$app["bs.apikey"] = "";
