[DEFAULT]
ignoreip 	= 127.0.0.1/8
findtime 	= 3600
bantime 	= 86400
maxretry 	= 3
destemail 	= root
action 		= %(action_mw)s

[pam-generic]
enabled  	= true
filter   	= pam-generic
port     	= all
banaction 	= iptables-allports
port     	= anyport
logpath  	= /var/log/auth.log

[ssh-ddos]
enabled  	= true
port     	= <Port_SSH>
filter   	= sshd-ddos
logpath  	= /var/log/auth.log

[sshd]
enabled  	= true
port     	= <Port_SSH>
filter   	= sshd
logpath  	= /var/log/auth.log
banaction 	= iptables-multiport

[nginx-auth]
enabled  	= true
port  		= <Port_HTTP>,<Port_HTTPS>
filter   	= nginx-auth
logpath  	= /var/log/nginx/*error.log
banaction 	= iptables-multiport
maxretry 	= 5

[nginx-badbots]
enabled  	= true
port  		= <Port_HTTP>,<Port_HTTPS>
filter 		= nginx-badbots
logpath 	= /var/log/nginx/*access.log
banaction 	= iptables-multiport

[nginx-login]
enabled 	= true
filter 		= nginx-login
action 		= iptables-multiport[name=NoLoginFailures, port="<Port_HTTP>,<Port_HTTPS>"]
logpath 	= /var/log/nginx*/*access*.log
maxretry 	= 6

[nginx-req-limit]
enabled		= true
filter		= nginx-req-limit
action		= iptables-multiport[name=ReqLimit, port="http,https", protocol=tcp]
logpath		= /var/log/nginx/*error.log
findtime	= 600
maxretry	= 5

[vsftpd]
enabled 	= true
port 		= <Port_FTP>,<Port_FTP_Data>
filter 		= vsftpd
logpath 	= /var/log/auth.log
banaction 	= iptables-multiport

