{
    "user": {
        "all": {
            "\/$user\/files\/MySB_Home": {
                "id": 1,
                "class": "\\OC\\Files\\Storage\\Local",
                "options": {
                    "datadir": "\/home\/$user\/"
                },
                "priority": 150,
                "storage_id": "<IdStorage>"
            }
        }
    }
}