<?php
$CONFIG = array (
  'passwordsalt' => '<PasswordSalt>',
  'trusted_domains' =>
  array (
    0 => '127.0.0.1',
    1 => '<server_name>',
  ),
  'datadirectory' => '/home/nextcloud',
  'version' => '<version>',
  'dbtype' => 'mysql',
  'dbhost' => 'localhost',
  'dbname' => 'NextCloud_db',
  'dbuser' => 'MySB_user',
  'dbpassword' => '<db_password>',
  'dbtableprefix' => 'nc_',
  'installed' => true,
  'default_language' => 'en',
  'defaultapp' => 'files',
  'knowledgebaseenabled' => true,
  'enable_avatars' => true,
  'allow_user_to_change_display_name' => true,
  'token_auth_enforced' => false,
  'auth.bruteforce.protection.enabled' => true,
  'skeletondirectory' => 'MySB_InstallDir>/core/skeleton',
  'lost_password_link' => 'https://<server_name>:<PORT_HTTPS>/?user/change-password.html',
  'mail_domain' => '',
  'mail_from_address' => '',
  'mail_smtpdebug' => false,
  'mail_smtpmode' => 'php',
  'overwritehost' => '<server_name>:<PORT_HTTPS>',
  'overwriteprotocol' => 'https',
  'overwritewebroot' => '/nc',
  'overwritecondaddr' => '',
  'overwrite.cli.url' => 'https://127.0.0.1:<PORT_HTTPS>/nc',
  'htaccess.RewriteBase' => '/nc',
  'customclient_desktop' => 'https://nextcloud.com/install/#install-clients',
  'customclient_android' => 'https://play.google.com/store/apps/details?id=com.nextcloud.client',
  'customclient_ios' => 'https://itunes.apple.com/us/app/nextcloud/id1125420102?mt=8',
  'appstoreenabled' => true,
  'appstoreurl' => 'https://api.nextcloud.com/v1',
  'appstore.experimental.enabled' => false,
  'trashbin_retention_obligation' => 'auto, 30',
  'versions_retention_obligation' => 'auto',
  'appcodechecker' => true,
  'updatechecker' => false,
  'updater.server.url' => 'https://updates.nextcloud.com/updater_server/',
  'has_internet_connection' => true,
  'check_for_working_webdav' => true,
  'check_for_working_wellknown_setup' => true,
  'check_for_working_htaccess' => true,
  'config_is_read_only' => false,
  'log_type' => 'owncloud',
  'logfile' => '/home/nextcloud/nextcloud.log',
  'loglevel' => 3,
  'logdateformat' => 'F d, Y H:i:s',
  'logtimezone' => '<gsTimeZone>',
  'log_query' => false,
  'cron_log' => true,
  'log_rotate_size' => false,
  // 'log.condition' => [
        // 'shared_secret' => '57b58edb6637fe3059b3595cf9c41b9',
        // 'users' => ['sample-user'],
        // 'apps' => ['files'],
  // ],
  //'cron.lockfile.location' => '',
  //'cron.lockfile.location' => '',
  'enable_previews' => true,
  'preview_max_x' => 2048,
  'preview_max_y' => 2048,
  'preview_max_scale_factor' => 10,
  'preview_max_filesize_image' => 50,
  'enabledPreviewProviders' =>
  array (
    0 => 'OC\\Preview\\PNG',
    1 => 'OC\\Preview\\JPEG',
    2 => 'OC\\Preview\\GIF',
    3 => 'OC\\Preview\\BMP',
    4 => 'OC\\Preview\\XBitmap',
    5 => 'OC\\Preview\\MP3',
    6 => 'OC\\Preview\\TXT',
    7 => 'OC\\Preview\\MarkDown',
  ),
  'maintenance' => false,
  'singleuser' => false,
  'openssl' =>
  array (
    'config' => '/etc/ssl/openssl.cnf',
  ),
  'enable_certificate_management' => false,
  'quota_include_external_storage' => true,
  'filesystem_check_changes' => 0,
  'mount_file' => '/home/nextcloud/mount.json',
  'secret' => '',
  'cipher' => 'AES-256-CFB',
  'minimum.supported.desktop.version' => '1.7.0',
  'filesystem_cache_readonly' => false,
  'max_filesize_animated_gifs_public_sharing' => 10,
  'filelocking.enabled' => true,
  'filelocking.ttl' => 3600,
  'debug' => false,
  'hashingCost' => 10,
  'activity_expire_days' => 365,
  'memcache.local' => '\\OC\\Memcache\\Redis',
  'memcache.locking' => '\\OC\\Memcache\\Redis',
  'redis' =>
  array (
    'host' => 'localhost',
    'port' => 6379,
  ),
  'upgrade.disable-web' => true,
  'forwarded_for_headers' =>
  array (
    0 => 'HTTP_X_FORWARDED',
    1 => 'HTTP_FORWARDED_FOR',
  ),
  'apps_paths' => array (
      0 => array (
              'path'     => OC::$SERVERROOT.'/apps',
              'url'      => '/apps',
              'writable' => false,
      ),
      1 => array (
              'path'     => OC::$SERVERROOT.'/apps2',
              'url'      => '/apps2',
              'writable' => true,
      ),
  ),
  '3rdpartyroot' => OC::$SERVERROOT.'/3rdparty',
  '3rdpartyurl'  => '/nc/3rdparty',
);
