;; ruTorrent permissions.

[settings]
showDownloadsPage = no
showConnectionPage = no
showBittorentPage = no
showAdvancedPage = no

[tabs]
showPluginsTab = yes

[statusbar]
canChangeULRate = no
canChangeDLRate = no

[dialogs]
canChangeTorrentProperties = no
canAddTorrentsWithoutPath = no
canAddTorrentsWithoutStarting = yes
canAddTorrentsWithResume = yes
canAddTorrentsWithRandomizeHash = yes
