		#### Seedbox-Manager
		location ^~ /sm {
			root <InstallDir>/web/apps;
			index index.php;
			access_log /var/log/nginx/seedbox-manager-access.log combined;
			error_log /var/log/nginx/seedbox-manager-error.log error;

			try_files $uri $uri/ /sm/index.php$is_args$args;

			location ~ \.php$ {
				root <InstallDir>/web/apps;
				include /etc/nginx/conf.d/php-ssl;
				fastcgi_index index.php;
			}
		}
