# Plex Media Server
upstream plex-upstream {
	# change plex-server.example.com:32400 to the hostname:port of your plex server.
	# this can be "localhost:32400", for instance, if Plex is running on the same server as nginx.
	server localhost:32400;
}
