location ^~/owncloud {
	root <MySB_InstallDir>/web;
	index index.php;
	access_log /var/log/nginx/owncloud-access.log;
	error_log /var/log/nginx/owncloud-error.log;

	include /etc/nginx/conf.d/static_files;
	include /etc/nginx/conf.d/global_deny_access;
	include /etc/nginx/conf.d/pagespeed;
	include /etc/nginx/conf.d/auth_basic;

	# Disable gzip to avoid the removal of the ETag header
	gzip off;

	# Uncomment if your server is build with the ngx_pagespeed module
	# This module is currently not supported.
	pagespeed off;

	location ~ ^/(?:\.htaccess|data|config|db_structure\.xml|README){
		deny all;
	}

	rewrite ^(/core/doc/[^\/]+/)$ $1/index.html;

	try_files $uri $uri/ /index.php;

	location ~ \.php(?:$|/) {
		include /etc/nginx/conf.d/php;
	}
}