		#### Plex Media Server
		location ^~ /web {
			access_log /var/log/nginx/plexmediaserver-access.log;
			error_log /var/log/nginx/plexmediaserver-error.log;

			# if a request to / comes in, 301 redirect to the main plex page.
					# but only if it doesn't contain the X-Plex-Device-Name header
			# this fixes a bug where you get permission issues when accessing the web dashboard
			if ($http_x_plex_device_name = '') {
				rewrite ^/$ https://$http_host/web/index.html;
			}

			include /etc/nginx/proxy/PlexMediaServer.conf;
		}
