		#### PlexPy
		location ^~ /pp/ {
			access_log /var/log/nginx/plexpy-access.log;
			error_log /var/log/nginx/plexpy-error.log;
			auth_basic "Restricted area";
			auth_basic_user_file "/etc/nginx/passwd/MySB_<MainUser>";
			include /etc/nginx/proxy/PlexPy.conf;
		}
