user www-data;
worker_processes auto;
worker_rlimit_nofile 65535;
pcre_jit on;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;
error_log /var/log/nginx/error.log warn;

events {
	worker_connections 65535;
	multi_accept on;
}

http {
	#### LOG
	log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';
	access_log /var/log/nginx/access.log main;

	#### useful for multi-servers
	add_header X-Server $hostname;

	#### ngx_http_ssl_module
	include /etc/nginx/ssl_certificate;
	ssl_buffer_size 4k;
	ssl_prefer_server_ciphers on;
	ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
	ssl_protocols TLSv1.2 TLSv1.3; # Dropping SSLv3, ref: POODLE
	ssl_session_cache shared:SSL:20m;
	ssl_session_timeout 1d;
	ssl_session_tickets off;
	ssl_ecdh_curve secp384r1;
	#ssl_stapling on;
	#ssl_stapling_verify on;
	ssl_trusted_certificate /etc/ssl/certs/ca-certificates.crt;

    #### OCSP Stapling
    ssl_stapling on;
    ssl_stapling_verify on;
    resolver 1.1.1.1 1.0.0.1 8.8.8.8 8.8.4.4 208.67.222.222 208.67.220.220 9.9.9.9 149.112.112.112 64.6.64.6 64.6.65.6 valid=60s;
    resolver_timeout 2s;

	#### ngx_http_core_module
	charset utf-8;
	expires 10m;
	default_type application/octet-stream;
	keepalive_disable msie6;
	keepalive_requests 100;
	keepalive_timeout 65;
	log_not_found on;
	sendfile on;
	server_tokens off;
	tcp_nodelay on;
	tcp_nopush on;
	types_hash_max_size 2048;
	server_names_hash_bucket_size 64;
	server_name_in_redirect off;
	client_max_body_size 16M;

	#### GZIP
	gzip on;
	gzip_vary on;
	# gzip_proxied any;
	gzip_proxied expired no-cache no-store private no_last_modified no_etag auth;
	gzip_comp_level 4;
	gzip_min_length 256;
	gzip_buffers 16 8k;
	# gzip_http_version 1.1;
	# Disable for IE < 6 because there are some known problems
	gzip_disable "msie6";
	# Types
	gzip_types application/atom+xml;
	gzip_types application/ecmascript;
	gzip_types application/javascript;
	gzip_types application/x-javascript;
	gzip_types application/json;
	gzip_types application/ld+json;
	gzip_types application/x-web-app-manifest+json;
	gzip_types application/manifest+json;
	gzip_types application/pdf;
	gzip_types application/postscript;
	gzip_types application/vnd.ms-fontobject;
	gzip_types application/vnd.geo+json;
	gzip_types application/rss+xml;
	gzip_types application/xhtml+xml;
	gzip_types application/xml;
	gzip_types application/x-font-ttf;
	gzip_types image/svg+xml;
	gzip_types image/bmp;
	gzip_types image/x-icon;
	gzip_types text/css;
	gzip_types text/csv;
	gzip_types text/javascript;
	gzip_types text/plain;
	gzip_types text/xml;
	gzip_types text/x-js;
	gzip_types text/x-component;
	gzip_types text/x-cross-domain-policy;
	gzip_types text/cache-manifest;
	gzip_types text/vcard;
	gzip_types text/vnd.rim.location.xloc;
	gzip_types text/vtt;
	gzip_types font/truetype;
	gzip_types font/opentype;

	#### Add headers to serve security related headers
	# Before enabling Strict-Transport-Security headers please read into this topic first.
	add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;
	add_header X-Content-Type-Options "nosniff" always;
	add_header X-XSS-Protection "1; mode=block" always;
	add_header X-Robots-Tag "none" always;
	add_header X-Download-Options "noopen" always;
	add_header X-Permitted-Cross-Domain-Policies "none" always;
	add_header Referrer-Policy "no-referrer-when-downgrade" always;
	add_header X-Frame-Options "SAMEORIGIN" always;

	#### Remove X-Powered-By, which is an information leak
	fastcgi_hide_header X-Powered-By;

	#### Cache
	fastcgi_cache_path /dev/shm/ levels=1:2 keys_zone=mysb:20m max_size=1024m inactive=1h;

	#### Incudes
	include /etc/nginx/mime.types;
	include /etc/nginx/logs_format;
	include /etc/nginx/sites-enabled/*;
}
