server {
	listen 81;
	server_name _;

	# only the proxy
	allow 127.0.0.1;
	deny all;

	root <cakebox_rootdir>/public;

	access_log /var/log/nginx/cakebox-access.log;
	error_log /var/log/nginx/cakebox-error.log;

	#site root is redirected to the app boot script
	location = / {
		try_files @site @site;
	}

	#all other locations try other files first and go to our front controller if none of them exists
	location / {
		try_files $uri $uri/ @site;
	}

	#return 404 for all php files as we do have a front controller
	location ~ \.php$ {
		return 404;
	}

	#main configuration
	location @site {
		include /etc/nginx/conf.d/php-ssl;
		fastcgi_param  SCRIPT_FILENAME $document_root/index.php;
	}
}