		#### Shell In A Box
		location ^~ /sb/ {
			access_log /var/log/nginx/shellinabox-access.log;
			error_log /var/log/nginx/shellinabox-error.log;
			auth_basic "Restricted area";
			auth_basic_user_file "/etc/nginx/passwd/MySB_<MainUser>";
			include /etc/nginx/proxy/ShellInABox.conf;
		}
