		#### NetData
		#location ~ /nd/(?!api/v1/badge\.svg?chart\=system\.*)(?!api/v1/(chart|data))?chart\=system\.*(?<ndpath>.*) {
		location ~ /nd/(?!api/v1/badge\.svg?chart\=system\.*)(?<ndpath>.*) {
			access_log /var/log/nginx/netdata-access.log;
			error_log /var/log/nginx/netdata-error.log;
			include /etc/nginx/proxy/NetData.conf;
			gzip on;
			gzip_proxied any;
			gzip_types *;
			auth_basic "Restricted area";
			auth_basic_user_file "/etc/nginx/passwd/MySB_<MainUser>";
		}

		location ~ /nd/(?<ndpath>.*) {
			access_log /var/log/nginx/netdata-api-access.log;
			error_log /var/log/nginx/netdata-api-error.log;
			include /etc/nginx/proxy/NetData.conf;
			gzip on;
			gzip_proxied any;
			gzip_types *;
			auth_basic off;
		}
