	#### Seedbox-Manager
	location ^~ /sm {
		alias <manager_rootdir>/public;

		access_log /var/log/nginx/seedbox-manager-access.log combined;
		error_log /var/log/nginx/seedbox-manager-error.log error;

		location ~ /sm/(?:components|themes)/ {
			access_log off;
			location ~ \.php$ {
				root <manager_rootdir>/public;
				include /etc/nginx/conf.d/php-ssl;
				fastcgi_param SCRIPT_FILENAME $document_root/index.php;
				fastcgi_index index.php;
			}
		}

		location ~ \.php$ {
			root <manager_rootdir>/public;
			include /etc/nginx/conf.d/php-ssl;
			fastcgi_param SCRIPT_FILENAME $document_root/index.php;
			fastcgi_index index.php;
		}
	}
