location /<USERNAME> {
    access_log /var/log/nginx/rutorrent-<username>.access.log;
    error_log /var/log/nginx/rutorrent-<username>.error.log;
	include scgi_params;
	scgi_pass 127.0.0.1:<scgi_port>;
    allow 127.0.0.1;
    auth_basic off;
    deny all;
}

#location /<USERNAME> {
#    access_log /var/log/nginx/rutorrent-<username>.access.log;
#    error_log /var/log/nginx/rutorrent-<username>.error.log;
#    include /etc/nginx/scgi_params;
#    fastcgi_pass rtorrent-<username>;
#    allow 127.0.0.1;
#    auth_basic off;
#    deny all;
#}
