	include /etc/nginx/fastcgi_params;
	fastcgi_pass php-handler;
	fastcgi_split_path_info ^(.+?\.php)(/.*)$;
	fastcgi_param PATH_INFO $fastcgi_path_info;
	fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
	fastcgi_param APPLICATION_ENV production;
	fastcgi_param PHP_VALUE "";
	fastcgi_param PHP_ADMIN_VALUE "display_errors=On";
	fastcgi_param HTTPS on;
	fastcgi_param modHeadersAvailable true;
