		#### Cakebox-Light
		location ^~ /cb/ {
			access_log /var/log/nginx/cakebox-access.log;
			error_log /var/log/nginx/cakebox-error.log;

			include /etc/nginx/proxy/Cakebox-Light.conf;
		}

		#### Cakebox-Light - users RPC
		include /etc/nginx/rpc/*.cakebox;
