[Unit]
Description=DNSCrypt client proxy
Documentation=https://github.com/jedisct1/dnscrypt-proxy/wiki
ConditionFileIsExecutable=/usr/local/bin/dnscrypt-proxy
After=network.target
Before=nss-lookup.target
Requires=networking.service

Requires=dnscrypt-proxy.socket
After=network.target
Before=nss-lookup.target
Wants=nss-lookup.target

[Install]
WantedBy=multi-user.target

[Service]
StartLimitInterval=5
StartLimitBurst=10
WorkingDirectory=/etc/dnscrypt-proxy
ExecStart=/usr/local/bin/dnscrypt-proxy -config /etc/dnscrypt-proxy/dnscrypt-proxy.toml
ExecStartPost=/bin/bash -c "source <InstallDir>/inc/vars; gfnSwitchDNS 'dnscrypt'"
ExecStopPost=/bin/bash -c "source <InstallDir>/inc/vars; gfnSwitchDNS 'bind'"
Restart=always
RestartSec=120
NonBlocking=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
MemoryDenyWriteExecute=true
