[Unit]
Description=MySB security rules at boot
#Wants=network-online.target
Wants=network-online.target networking.service mariadb.service netfilter-persistent.service
Before=remote-fs.target
After=networking.service netfilter-persistent.service ssh.service mariadb.service postfix.service
#Requires=networking.service mariadb.service netfilter-persistent.service
Requires=networking.service

[Service]
#Type=oneshot
Type=idle
RemainAfterExit=True
ExecStart=/bin/bash <InstallDir>/bin/MySB_SecurityRules 'create' 'INIT'
ExecStop=/bin/bash <InstallDir>/bin/MySB_SecurityRules 'clean' 'STOP'

[Install]
WantedBy=multi-user.target
