[Unit]
Description=Samba NMB Daemon
Documentation=man:nmbd(8) man:samba(7) man:smb.conf(5)
Wants=network-online.target openvpn.service
After=network.target network-online.target openvpn.service
#Wants=network-online.target sys-devices-virtual-net-tun0.device sys-devices-virtual-net-tun1.device
#After=network.target network-online.target sys-devices-virtual-net-tun0.device sys-devices-virtual-net-tun1.device

[Service]
Type=notify
NotifyAccess=all
PIDFile=/var/run/samba/nmbd.pid
EnvironmentFile=-/etc/default/samba
ExecStart=/usr/sbin/nmbd --foreground --no-process-group $NMBDOPTIONS
ExecReload=/bin/kill -HUP $MAINPID
LimitCORE=infinity


[Install]
WantedBy=multi-user.target
