[Unit]
Description=RPC bind portmap service
Documentation=man:rpcbind(8)
DefaultDependencies=no
RequiresMountsFor=/run/rpcbind

# Make sure we use the IP addresses listed for
# rpcbind.socket, no matter how this unit is started.
Requires=rpcbind.socket
#After=systemd-tmpfiles-setup.service
#Wants=remote-fs-pre.target rpcbind.target
Before=remote-fs-pre.target rpcbind.target
Wants=remote-fs-pre.target rpcbind.target sys-devices-virtual-net-tun0.device sys-devices-virtual-net-tun1.device
After=systemd-tmpfiles-setup.service sys-devices-virtual-net-tun0.device sys-devices-virtual-net-tun1.device

[Service]
Environment="OPTIONS=-w -h 127.0.0.1 -h 10.0.2.1 -h 10.0.0.1 -h 10.0.1.1"
ExecStart=/sbin/rpcbind -f $OPTIONS
EnvironmentFile=-/etc/rpcbind.conf
EnvironmentFile=-/etc/default/rpcbind
Type=notify
KillMode=process
Restart=on-failure

[Install]
Also=rpcbind.socket
WantedBy=multi-user.target
