<MySB_InstallDir>/logs/MySB_*.log
<MySB_InstallDir>/logs/BlocklistsRTorrent.bsh.log
<MySB_InstallDir>/logs/DynamicAddressResolver.bsh.log
<MySB_InstallDir>/logs/GetTrackersCert.bsh.log
<MySB_InstallDir>/logs/ApplyConfig.bsh.log
<MySB_InstallDir>/logs/UpdateGeoIP.bsh.log
<MySB_InstallDir>/logs/ownCloud.bsh.log
<MySB_InstallDir>/logs/LogServer.bsh.log {
	weekly
	missingok
	rotate 14
	notifempty
	olddir <MySB_InstallDir>/logs/archives
}
