/var/lib/stunnel4/stunnel.log {
	daily
	rotate 7
	missingok
	compress
	delaycompress
	notifempty
	create 640 stunnel4 stunnel4
	sharedscripts
	postrotate
		/etc/init.d/stunnel4 reopen-logs > /dev/null
	endscript
}
