	#### Cakebox-Light
	location ^~ /cb/ {
		access_log /var/log/nginx/cakebox-access.log;
		error_log /var/log/nginx/cakebox-error.log;

		include /etc/nginx/proxy/Cakebox-Light.conf;

		location ~ /cb/favicon.ico {
			alias <cakebox_rootdir>/public/ressources/images/favicon.ico;
		}

		location ~ /cb/(?:components|app|ressources|api|partials)/ {
			access_log off;
			include /etc/nginx/proxy/Cakebox-Light.conf;
		}
	}
