[DEFAULT]
ignoreip = 127.0.0.1/32
banaction = iptables-multiport
destemail = root
action = %(action_mwl)s

[pam-generic]
enabled  = true
filter   = pam-generic
port     = all
banaction = iptables-allports
port     = anyport
logpath  = /var/log/auth.log
maxretry = 6

[ssh-ddos]
enabled  = true
port     = <Port_SSH>
filter   = sshd-ddos
logpath  = /var/log/auth.log
maxretry = 3

[ssh]
enabled  = true
port     = <Port_SSH>
filter   = sshd
logpath  = /var/log/auth.log
bantime = 600
banaction = iptables-multiport
maxretry = 3

[nginx-auth]
enabled  = true
port  = <Port_HTTP>,<Port_HTTPS>
filter   = nginx-auth
logpath  = /var/log/nginx/*error.log
bantime = 600
banaction = iptables-multiport
maxretry = 5

[nginx-badbots]
enabled  = true
port  = <Port_HTTP>,<Port_HTTPS>
filter = nginx-badbots
logpath = /var/log/nginx/*access.log
bantime = 600
banaction = iptables-multiport
maxretry = 3

[owncloud]
enabled  = true
port     = <Port_HTTP>,<Port_HTTPS>
filter   = owncloud
logpath  = /home/owncloud/owncloud.log
maxretry = 6

[nginx-login]
enabled = true
filter = nginx-login
action = iptables-multiport[name=NoLoginFailures, port="<Port_HTTP>,<Port_HTTPS>"]
logpath = /var/log/nginx*/*access*.log
bantime = 600 # 10 minutes
maxretry = 6

[vsftpd]
enabled = true
port = <Port_FTP>,<Port_FTP_Data>
filter = vsftpd
logpath = /var/log/auth.log
bantime  = 600
banaction = iptables-multiport
maxretry = 3
