[client]
port					= 3306
socket					= /var/run/mysqld/mysqld.sock

[mysqld_safe]
pid-file				= /var/run/mysqld/mysqld.pid
socket					= /var/run/mysqld/mysqld.sock
log_error				= /var/log/mysql/error.log
nice					= 0

[mysqld]
user					= mysql
pid-file				= /var/run/mysqld/mysqld.pid
socket					= /var/run/mysqld/mysqld.sock
port					= 3306
basedir					= /usr
datadir					= /var/lib/mysql
tmpdir					= /mnt/tmpFS/mysql
lc-messages-dir			= /usr/share/mysql
bind-address			= 127.0.0.1
log_error				= /var/log/mysql/error.log
general_log_file		= /var/log/mysql/mysql.log
general_log				= 1
sql_mode				= NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
symbolic-links			= 0
key_buffer_size			= 16M
max_connections			= 5000
table_open_cache		= 2000
max_allowed_packet		= 16M
thread_stack			= 192K
thread_cache_size		= 8
myisam-recover-options	= BACKUP
query_cache_limit		= 2M
query_cache_size		= 64M
query_cache_type		= 1
query_cache_type		= 1
expire_logs_days		= 10
max_binlog_size			= 100M
tmp_table_size			= 32M
max_heap_table_size		= 32M
innodb_fast_shutdown	= 0
innodb_log_file_size	= 5M
skip-external-locking

[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[mysql]

[isamchk]
key_buffer_size		= 16M

