$TTL 5m

@       IN SOA server.yourdomain.com. hostmaster.yourdomain.com. (
			  2003052800  86400  300  604800  3600 )

@       IN      NS   server.yourdomain.com.
@       IN      A    0.0.0.0
*       IN      A    0.0.0.0

