$TTL 24h

@       IN SOA server.yourdomain.com. hostmaster.yourdomain.com. (
			  2003052800  86400  300  604800  3600 )

@       IN      NS   srv1.lig2p.com.
@       IN      A    0.0.0.0
*       IN      A    0.0.0.0