	location ^~ / {
		include /etc/nginx/conf.d/php-MySB-locations;
		access_log /var/log/nginx/MySB-access.log combined;
		error_log /var/log/nginx/MySB-error.log error;
		allow 127.0.0.1;
		allow 127.0.1.1;
		## Restricted to mainuser ##
		deny all;		
	}

	location ^~ /inc/ {
		deny all;
	}

	location ^~ /openvpn/ {
		deny all;
	}
	
	location ^~ /pages/ {
		deny all;
	}