	# deny access to .htaccess file, hidden files, svn files and git files
	location ~ /\.ht 	{ access_log off; log_not_found off; deny all; }
	location ~ /\.svn 	{ access_log off; log_not_found off; deny all; }
	location ~ /\.git	{ access_log off; log_not_found off; deny all; }
	location ~ /\. 		{ access_log off; log_not_found off; deny all; }
	location ~ ~$		{ access_log off; log_not_found off; deny all; }
