options {
	directory "/var/cache/bind";
	auth-nxdomain no;    # conform to RFC1035
	listen-on    { 127.0.0.1; 10.0.0.1; 10.0.1.1; 10.0.0.1; 10.0.2.1; };
	listen-on-v6 { none; };
	allow-query { any; };
	dnssec-enable yes;
	dnssec-validation yes;
	dnssec-lookaside auto;
	transfer-source <SrvIpAddress>;
	notify-source <SrvIpAddress>;
	#### MARKER - DoNotDelete ####
};
