<?php
$CONFIG = array (
  'instanceid' => 'ocpi3jnmklh9',
  'passwordsalt' => 'exDTd9JbZEHFJVnN06PT//qAlvxPTg',
  'secret' => 'wn6Q+hYmubYoJIQDavVFo0Ry98g80+pp+qgN5LB9RJlyFdbp',
  'trusted_domains' => 
  array (
    0 => '<server_name>:<PORT_HTTPS>',
  ),
  'datadirectory' => '/home/owncloud',
  'overwrite.cli.url' => 'https://<server_name>:<PORT_HTTPS>/owncloud',
  'dbtype' => 'sqlite3',
  'version' => '<Version>',
  'logtimezone' => 'UTC',
  'installed' => true,
);
