<?php
$CONFIG = array (
  'instanceid' => '<InstanceId>',
  'passwordsalt' => '<PasswordSalt>',
  'secret' => '<Secret>',
  'trusted_domains' => 
  array (
    0 => '<server_name>:<PORT_HTTPS>',
  ),
  'datadirectory' => '/home/owncloud',
  'overwrite.cli.url' => 'https://<server_name>:<PORT_HTTPS>/owncloud',
  'dbtype' => 'mysql',
  'version' => '<Version>',
  'dbname' => 'ownCloud_db',
  'dbhost' => 'localhost',
  'dbtableprefix' => 'oc_',
  'dbuser' => '<MySB_DB_User>',
  'dbpassword' => '<MySB_DB_Pass>',
  'logtimezone' => '<TimeZone>',
  'installed' => true,
  'default_language' => 'en',
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'allow_user_to_change_display_name' => true,
  'enable_avatars' => true,
  'knowledgebaseenabled' => true,
  'mail_smtpmode' => 'php',
  'updatechecker' => false,
  'check_for_working_webdav' => true,
  'config_is_read_only' => false,
  'log_type' => 'owncloud',
  'logfile' => '/home/owncloud/owncloud.log',
  'enable_previews' => true,
  'blacklisted_files' => 
  array (
    0 => '.htaccess',
	1 => '.bash_logout',
	2 => '.bashrc',
	3 => '.profile',
	4 => '.rtorrent.rc',
  ),
  'theme' => '',
  'maintenance' => false,
  'mail_from_address' => '<mail_from_address>',
  'mail_domain' => '<mail_domain>',  
);