[mysqld]
tmpdir                          = /mnt/tmpFS/mysql
query_cache_limit               = 2M
query_cache_size                = 32M
innodb_buffer_pool_instances    = 1
innodb_buffer_pool_size         = 128M
innodb_large_prefix             = true
innodb_file_format              = barracuda
innodb_file_per_table           = 1
skip-name-resolve
