## TAUTULLI_USER=			#$RUN_AS, username to run Tautulli under, the default is tautulli
## TAUTULLI_HOME=			#$APP_PATH, the location of Tautulli.py, the default is /opt/Tautulli
## TAUTULLI_DATA=			#$DATA_DIR, the location of plexpy.db, cache, logs, the default is /opt/Tautulli
## TAUTULLI_PIDFILE=		#$PID_FILE, the location of tautulli.pid, the default is /var/run/tautulli/tautulli.pid
## PYTHON_BIN=			#$DAEMON, the location of the python binary, the default is /usr/bin/python
## TAUTULLI_OPTS=			#$EXTRA_DAEMON_OPTS, extra cli option for Tautulli, i.e. " --config=/home/Tautulli/config.ini"
## SSD_OPTS=				#$EXTRA_SSD_OPTS, extra start-stop-daemon option like " --group=users"
## TAUTULLI_PORT=			#$PORT_OPTS, hardcoded port for the webserver, overrides value in config.ini
##
## EXAMPLE if want to run as different user
## add TAUTULLI_USER=username to /etc/default/tautulli
## otherwise default tautulli is used
#
TAUTULLI_HOME=<gsRepoDir>
TAUTULLI_DATA=<gsRepoDir>
