############# config ##################
set base_path    <MySB_InstallDir>/files/apt_mirrors
set mirror_path  $base_path/mirrors
set skel_path    $base_path/skel
set var_path     $base_path/var
set cleanscript $var_path/clean.sh
set defaultarch  <Arch>
set postmirror_script $var_path/postmirror.sh
set run_postmirror 1
set nthreads 20
set _tilde 0
############# end config ##############
