############# config ##################
set base_path               /var/spool/apt-mirror
set mirror_path             $base_path/mirror
set skel_path               $base_path/skel
set var_path                $base_path/var
set cleanscript             $var_path/clean.sh
set postmirror_script       $var_path/postmirror.sh
set run_postmirror          1
set defaultarch             <Arch>
set nthreads                20
set limit_rate              100m
set auth_no_challenge       0
set no_check_certificate    1
set unlink                  0
set _contents               1
set _autoclean              0
set _tilde                  0
set use_proxy               off
#set http_proxy
#set https_proxy
#set proxy_user
#set proxy_password
############# end config ##############
