//----------------------------------------------------------------------
// https://manpages.debian.org/jessie/apt/apt.conf.5.fr.html
//----------------------------------------------------------------------
// Set APT package manager to not use cache, not write out docs
// NOTE: leaving generated locales, copyrights in place
// @see https://wiki.ubuntu.com/ReducingDiskFootprint#Drop_unnecessary_files
// ----------------------------------------------------------------------

APT {
    Clean-Installed "true";

    # Don't install Suggests or Recommends.
    Install-Recommends "false";
    Install-Suggests "false";

    Ignore {
        "gpg-pubkey";
    }

    Acquire {
        ## https://hub.docker.com/r/dockershelf/debian/
        # If there's a network error, retry up to 3 times.
        Retries "3";

        # Timeout
        http::Timeout "5";
        ftp::Timeout "5";

        # Try to download deltas called PDiffs for indexes (like Packages files)
        # instead of downloading whole ones.
        //Pdiffs "false";

        # Don't download translations.
        //Languages "none";

        # Prefer download of gzipped indexes.
        //CompressionTypes::Order { "gz"; "bz2"; };

        # Keep indexes gzipped.
        GzipIndexes "true";

        # Force IPv4
        ForceIPv4 "true";

        # Insecure repositories
        Check-Valid-Until "false";
        AllowInsecureRepositories "true";
        AllowDowngradeToInsecureRepositories "true";
        https::Verify-Peer "false";
        https::Verify-Host "false";
    };

    AutoRemove {
        # Remove suggested and recommended packages on autoremove.
        RecommendsImportant "true";

        # https://aptitude.alioth.debian.org/doc/en/ch02s05s05.html#configApt-AutoRemove-SuggestsImportant
        SuggestsImportant "true";
    };

    Get {
        //Assume-Yes "true";
        //Download-Only "false";
        //Show-Upgraded "true";
        //Ignore-Missing "false";
        //Compile "false";
        AllowUnauthenticated "true";
        //Fix-Broken "true";
        # DEPRECATED
        //force-yes "false";
    };

    //CmdLine {
    //    Assume-Yes "true";
    //};

    //Periodic {
    //    Update-Package-Lists "1";
    //    Download-Upgradeable-Packages "0";
    //    AutocleanInterval "0";
    //    MaxAge "5";
    //};
};

DPKG {
   options {
      "--force-confold";
   };
}
