//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization

include "/etc/bind/zones.rfc1918";
include "/etc/bind/rndc.key";
include "/etc/bind/bind.keys";
include "/etc/bind/log.conf";
include "/etc/bind/MySB.zones.blakclists";
