logging {
	channel "client" {
		file "/var/log/bind/client.log" versions 0 size 20m;
		severity notice;
		print-time yes;
		print-category yes;
		print-severity yes;
	};
	category client { "client"; };

	channel "config" {
		file "/var/log/bind/config.log" versions 0 size 20m;
		severity notice;
		print-time yes;
		print-category yes;
		print-severity yes;
	};
	category config { "config"; };

	channel "default" {
		file "/var/log/bind/default.log" versions 0 size 20m;
		severity notice;
		print-time yes;
		print-category yes;
		print-severity yes;
	};
	category default { "default"; };

	channel "dnssec" {
		file "/var/log/bind/dnssec.log" versions 0 size 20m;
		severity notice;
		print-time yes;
		print-category yes;
		print-severity yes;
	};
	category dnssec { "dnssec"; };

	channel "general" {
		file "/var/log/bind/general.log" versions 0 size 20m;
		severity notice;
		print-time yes;
		print-category yes;
		print-severity yes;
	};
	category general { "general"; };

	channel "security" {
		file "/var/log/bind/security.log" versions 0 size 20m;
		severity notice;
		print-time yes;
		print-category yes;
		print-severity yes;
	};
	category security { "security"; };

	channel "queries" {
		file "/var/log/bind/queries.log" versions 0 size 20m;
		severity notice;
		print-time yes;
		print-category yes;
		print-severity yes;
	};
	category queries { "queries"; };
};
