options {
	directory "/var/cache/bind";
	managed-keys-directory "/var/cache/bind";
	auth-nxdomain no; # conform to RFC1035
	listen-on { 127.0.0.1; 10.0.0.1; 10.0.1.1; 10.0.2.1; };
	listen-on-v6 { none; };
	allow-query { any; };
	transfer-source <gsSrvIpAddress>;
	notify-source <gsSrvIpAddress>;
	version "MySB DNS server";

	// If there is a firewall between you and nameservers you want
	// to talk to, you may need to fix the firewall to allow multiple
	// ports to talk.  See http://www.kb.cert.org/vuls/id/800113

	// If your ISP provided one or more IP addresses for stable
	// nameservers, you probably want to use them as forwarders.
	// Uncomment the following block, and insert the addresses replacing
	// the all-0's placeholder.
	forwarders { 84.200.69.80; 84.200.70.40; 1.1.1.1; 1.0.0.1; };
	forward only;

	//========================================================================
	// If BIND logs error messages about the root key being expired,
	// you will need to update your keys.  See https://www.isc.org/bind-keys
	//========================================================================
	dnssec-enable yes;
	dnssec-validation yes;
};
