################################
#        Cloaking rules        #
################################

# The following example rules force "safe" (without adult content) search
# results from Google, Bing and YouTube.
#
# This has to be enabled with the `cloaking_rules` parameter in the main
# configuration file

localhost                127.0.0.1
