; ; and # type comments are allowed
# and even blank lines

# values can be quoted:
MAIL_CMD 	= "/usr/sbin/sendmail -t"
FROM 		= "<main_user_mail>"
SUBJECT 	= "<mail_subject>"
MESSAGE 	= "<mail_message>"
CC_TO 		= "<main_user_mail>"
SUPPORT 	= "<main_user_mail>"
PHONE 		= ""
CHARSET		= UTF-8
